@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
 
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

/** skiplinks */
.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: #fff;
    color: black;
    text-decoration: none;
    padding: 0.35em 0.5em;
    font-size: 1.25em;
}

.skip-links a:focus {
    top: 0;
}

/**navigation*/
.nav {
    background-color: rgba(0,0,0,0.2);
    padding: 1em .3em;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.nav ul li,
.nav a {
    display: block;
    text-decoration: none;
    list-style: none;
    margin: 0 1em 0 .5em;
    color: white;
    text-align: right;
    transition: color 500ms ease-in;
    padding-bottom: .2em;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
    color: #f6a56f;
}

.logo {
    width: 40%;
}

.billboard {
    background-image: url(../image/CD13A5C6BB79FBD.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30em;
    margin-bottom: 0;
}

h1 {
    color: #f6a56f;
    text-align: center;
    position: relative;
    top: 10em;
}

.headlines {
    text-align: center;
    background-color: white;
    color: black;
    overflow: hidden;
    margin: 0;
    padding-top: .3em;
}

.about {
    text-align: center;
    color: white;
    background-color: #f6a56f;
}

/** LIGHTBOX MARKUP **/

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
    text-decoration: none;
    position: fixed;
	width: 100%;
	height: 100%;
	text-align: left;
	top: 0;
	left: 0;
	background:/* rgba(0,0,0,0.9);*/white;
    overflow-y: auto;
    z-index: 2;
    animation: boxin 600ms ease-in;
    -webkit-animation: boxin 600ms ease-in;
}

@keyframes boxin {
    
    0% { 
        transform: translateX(100%);
    }
    
    65% {
        transform: translateX(0px);
    }
    
    75% {
        transform: translateX(5%);
    }
        
    100% { 
        transform: translateX(0px);
    }
}

@-webkit-keyframes boxin {
    
    0% { 
        -webkit-transform: translateX(100%);
    }
    
    65% {
        -webkit-transform: translateX(0px);
    }
    
    75% {
        -webkit-transform: translateX(5%);
    }
        
    100% { 
        -webkit-transform: translateX(0px);
    }
}


.lightbox img {
	/** Pad the lightbox image */
	max-width: 100%;
	max-height: 100%;
	margin-top: 0%;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}

.info {
    float: right;
    text-decoration: none;
    color: black;
    margin-top: 5%;
    padding: .5em;
}

.back p {
    margin-right: .5em;
}

.back {
    color: white;
    text-align: right;
    background-color: rgba(0,0,0,0.3);
}

.back:hover {
    background-color: pink;
}

.gal {
    overflow: hidden;
    opacity: .5;
    transition: all 300ms ease-in;
}

/*#photos {
    line-height: 0;
    -webkit-columns: 2;
    -webkit-column-gap: 0px;
    -moz-columns: 2;
    -moz-column-gap: 0px;
    columns: 2;
    column-gap: 0px;
}

#photos a {
    display: inline-block;
}

#photos img {
    width: 100%;
    height: auto;
    opacity: .5;
    transition: all 500ms ease-in;
}
*/

.gal:hover,
.gal:focus,
.gal:active{
    opacity: 1;
}

/**footer*/

.icons img {
    width: 15%;
}

.icons {
    margin:0 22.5%;
}

.copyright {
    text-align: center;
}

/*carsoul*/

#slides {
    margin: 0 3em;
    position: relative;
}
#slider {
	text-align: center;
    width: 80%;
}

input {
	display: none;
}

#slide1:checked ~ #slides .inner { margin-left:0; }
#slide2:checked ~ #slides .inner { margin-left:-100%; }
#slide3:checked ~ #slides .inner { margin-left:-200%; }
#slide4:checked ~ #slides .inner { margin-left:-300%; }
#slide5:checked ~ #slides .inner { margin-left:-400%; }


#overflow {
	width: 100%;
	overflow: hidden;
}

article img {
	width: 100%;
    background-size: cover;
}

#slides .inner {
	width: 500%;
	line-height: 0;
}

#slides article {
	width: 20%;
	float: left;
}

.slide-open:checked + .work {
    position: static;
    opacity: 100;
}

/* Control Setup */

#controls {
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#controls label { 
 display: block;
}

#active {
	margin: 23% 0 0;
	text-align: center;
}


#active label {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #bbb;
}

#active label:hover {
	background: #ccc;
	border-color: #777 !important;
}

#controls label:hover {
	opacity: 0.8;
}

#slide1:checked ~ #controls label:nth-child(2), 
#slide2:checked ~ #controls label:nth-child(3), 
#slide3:checked ~ #controls label:nth-child(4), 
#slide4:checked ~ #controls label:nth-child(5), 
#slide5:checked ~ #controls label:nth-child(1) {
	background: url('../image/next.svg') no-repeat;
	float: right;
	margin: 0 0 0 0;
	display: block;
    position: absolute;
    top: 3em;
    right: .2em;
    background-color: pink;
}


#slide1:checked ~ #controls label:nth-child(5),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3),
#slide5:checked ~ #controls label:nth-child(4) {
	background: url('../image/prev.svg') no-repeat;
	float: left;
	margin: 0 0 0 0;
	display: block;
    position: absolute;
    top: 3em;
    left: .2em;
    background-color: pink;
}

#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3),
#slide4:checked ~ #active label:nth-child(4),
#slide5:checked ~ #active label:nth-child(5) {
	background: #333;
	border-color: purple !important;
}
#con
@media only screen and (min-width:38em) {

    .nav ul li {
        display: inline-block;
        float: right;
    }
    
    #photos {
    -webkit-columns: 3;
    -webkit-column-gap: 0px;
    -moz-columns: 3;
    -moz-column-gap: 0px;
    columns: 3;
    column-gap: 0px;
    -webkit-columns: balance;
    transform:translateZ(0);
    -webkit-perspective: 1;
    }    
    
    .icons img {
    width: 15%;
    }

    .icons {
    margin: 0 22.5%;
    }

}


@supports (min-height:100vh) {

    .billboard {
        min-height: 100vh;
    }
    
}