---
layout: default
priority: 1.0
---

<!--skiplinks-->
    <ul class="skip-links">
        <li><a href="{{site.baseurl}}/#main">Skip to main content</a></li>
        <li><a href="{{site.baseurl}}/#navigation">Skip to navigation</a></li>
        <li><a href="{{site.baseurl}}/#contact">Skip to navigation</a></li>
    </ul>

    <!--navigation-->
    <div class="nav" role="navigation" id="navigation">
        <ul>
            <li><a href="#work">Work</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
   
</div>
<!--billboard-->
    <div class="billboard">
       <!-- <h1> Rajaa</h1>-->
        <img class="logo" src="image/logo.svg" alt="logo">
    </div>
    
<main role="main" id="main">
    
    <div class="about">
    <p>Thinking of different ways to make something happen is what I like the most about graphic design. I get to use the technical side of my brain to think of a solution and use the creative side to make it look pretty.</p>
        </div>
    
    <!--headline(Work)-->
    <div id="work">
        <h2 class="headlines yotta">MY WORK</h2>
    </div>
    
<!--<section id="photos" class="gal">
    {% include work.html img="image/Untitled-1-07.jpg" url="#img1" %}
    
    {% include work.html img="image/Untitled-1-02.jpg" url="#img2"  %}
    
    
    {% include work.html img="image/Untitled-1-04.jpg" url="#img3" %}
    
    {% include work.html img="image/Untitled-1-05.jpg" url="#img4" %}
    
    
    {% include work.html img="image/Untitled-1-01.jpg" url="#img5" %}
    
    {% include work.html img="image/Untitled-1-06.jpg" url="#img6" %}
    
    
</section>-->
    
    {% include thumbs.html %}
     
<!--bigger image in light box-->
    
     {% include lightbox.html img="image/thumb-1.jpg" title="Camellia Tea Branding" id="img1" text="Camellia Tea is a traditional japanese tea place that finds value in teaching other tradtional japanese practices and rituals."%}
    
    {% include lightbox.html img="image/thumb-4.jpg" title="National Geographic" id="img2" text="Magazine cover for national geographic"%}
    
    
    {% include lightbox.html img="image/thumb-2.jpg" title="Cure Your Ignorance" id="img3" text="Cure your Ignorance is a campaign that brings awareness towards women issues and equality"%}
    
    
    {% include lightbox.html img="image/thumb-5.jpg" title="ParkM" id="img4" text="ParkM is an app designed to relieve the stress of finding a parking place for your vehical"%}
    
    
    {% include lightbox.html img="image/thumb-3.jpg" title="The Eye" id="img5" text="Soundtrack CD for the movie The Eye."%}
    
    {% include lightbox.html img="image/thumb-6.jpg" title="Photography" id="img6" text="A collection of Photographs"%}
    
    <div class="quote">
    <p>"Where's my laptop? —me"</p>
    </div>
    
 </main>