<div class="gal">
<div class="grid">
    <figure class="work-fig unit unit-xs-1 unit-s-1 unit-m-1 unit-l">
        <a href="#img3">
        <img id="image-1" src="image/cure-your-ignorance-gal.jpg" width="100%" height="auto"/>
        
        <figcaption class="work-info">
        <h2 class="yotta">Cure Your Igonrance</h2>
            <p class="giga">Strive for equality</p>
        </figcaption>
            </a>
    </figure>
    
    
     <figure class="work-fig unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
        <a href="#img1">
        <img id="image-1" src="image/camellia-teas-gal.jpg" width="100%" height="auto"/>

        <figcaption class="work-info">
        <h2 class="yotta">Camellia Teas</h2>
            <p class="giga">Get the whole tea experience</p>
        </figcaption>
         </a>
    </figure>
</div>

<div class="grid">
 <figure class="work-fig unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
        <a href="#img4">
        <img id="image-1" src="image/parkm-gal.jpg" width="100%" height="auto"/>
        
        <figcaption class="work-info">
        <h2 class="yotta">ParkM</h2>
            <p class="giga">Making parking less stressful</p>
        </figcaption>
            </a>
    </figure>
    
    <figure class="work-fig unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
        <a href="#img5">
        <img id="image-1" src="image/carbon-copy-gal.jpg" width="100%" height="auto"/>
        
        <figcaption class="work-info">
        <h2 class="yotta">Carbon Copy</h2>
            <p class="giga">Your new favourite thriller</p>
        </figcaption>
            </a>
    </figure>
    </div>
    
    <div class="grid">

    
     <figure class="work-fig unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
        <a href="#img2">
        <img id="image-1" src="image/stopit-gal.jpg" width="100%" height="auto"/>
        
        <figcaption class="work-info">
        <h2 class="yotta">Stop It!</h2>
            <p class="giga">Let's stop gender-based violence</p></p>
        </figcaption>
            </a>
    </figure>
    
     <figure class="work-fig unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
        <a href="#img6">
        <img id="image-1" src="image/photography-gal.jpg" width="100%" height="auto"/>
        
        <figcaption class="work-info">
        <h2 class="yotta">Photography</h2>
            <p class="giga">A collection of photos</p>
        </figcaption>
            </a>
    </figure>
    
     <!-- <figure class=" work-fig unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
        <!--<a href="#img6">
        <img id="image-1" src="image/photography-gal.jpg" width="100%" height="auto"/>
        
        <figcaption class="work-info">
        <h2 class="yotta">Photography</h2>
            <p class="giga">A collection of photos</p>
        </figcaption>
            </a>-->
   <!-- </figure>-->
    
    
</div>
</div>