<div class="lightbox" id="{{include.id}}">
    
    <hr>

        <div class="grid lightbox-container">
                    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2">
                        
                        <img src="{{include.img}}" alt="img1">
                    </div>
            
                    <div class="info unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2">
                        <h2>{{include.title}}</h2>
                        <p>{{include.text}}</p>
                        <div>artform: digital</div>
                    </div>
         </div> 

    
    
    <ul class="grid galnav">
         <a href="{{include.back}}" class=" info unit unit-xs-1-2 unit-s-1-2 unit-m-1-2 unit-l-1-2">
        <li class="previous">
             <i class="icon-left"></i>
        </li>
            </a>
        
        <a href="{{include.after}}" class="info unit unit-xs-1-2 unit-s-1-2 unit-m-1-2 unit-l-1-2">
        <li class="next">
            <i class="icon-right"></i>
        </li>
        </a>
    </ul>
    
    <hr>
        <a class="closelightbox" href="#_">
        <p>Exit</p>
    </a>
</div>
