<!-- <a href="#_" class="lightbox" id="{{include.id}}">
                   

        <p class="back">Back</p>
    
                    
        <div class="grid">
                    <div class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2">
                        <img src="{{include.img}}" alt="img1">
                    </div>
            
                    <div class="info unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2">
                        <h2>{{include.title}}</h2>
                        <p>{{include.text}}</p>
                        <div>artform: digital</div>
                    </div>
         </div>   
</a>
-->
 <a href="#_" class="lightbox" id="{{include.id}}">
     <p class="back">Back</p>

      <input class="slide-open" type="radio" name="slider1" id="slide1" aria-hidden="true" checked >
      <input class="slide-open" type="radio" name="slide2" id="slide2" aria-hidden="true" hidden="">
      <input class="slide-open" type="radio" name="slider3" id="slide3" aria-hidden="true" hidden="">
      <input class="slide-open" type="radio" name="slider4" id="slide4"aria-hidden="true" hidden="">
     <input class="slide-open" type="radio" name="slider5" id="slide5" aria-hidden="true" hidden="">
     
     <div id="slides">
        <div id="overflow">
            <div class="inner">
            <article class="work grid">
                <div class="info unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2">
                <img src="{{include.img1}}">
                 <h2>{{include.title}}</h2>
                <p>{{include.text}}</p>
                    </div>
            </article>
            
            <article class="work">
                <div class="info unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2">
                <img src="{{include.img2}}">
                <h2>{{include.title}}</h2>
                <p>{{include.text}}</p>
                    </div>
            </article>
            
                <article class="work">
                <div class="info unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2">
                <img src="{{include.img3}}">
                <h2>{{include.title}}</h2>
                <p>{{include.text}}</p>
                    </div>
            </article>
                
                <article class="work">
                <div class="info unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2">
                <img src="{{include.img4}}">
                <h2>{{include.title}}</h2>
                <p>{{include.text}}</p>
                    </div>
                    
            </article>
                <article class="work">
                <div class="info unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-1-2">
                <img src="{{include.img5}}">
                <h2>{{include.title}}</h2>
                <p>{{include.text}}</p>
                    </div>
            </article>
                
            </div>
         </div>
     </div>
     <!-- controls and active display-->
     <div id="controls">
      <label for="slide1"></label>
      <label for="slide2"></label>
      <label for="slide3"></label>
      <label for="slide4"></label>
      <label for="slide5"></label>
        
                    
     </div>
     <!-- #controls-->
     <div id="active">
      <label for="slide1"></label>
      <label for="slide2"></label>
      <label for="slide3"></label>
      <label for="slide4"></label>
      <label for="slide5"></label>
     </div>
    
</a>