<div class="lightbox" id="{{include.id}}">
    
        <div class="lightbox-container">
    
            <p class="artform kilo">{{include.artform}}</p>
            
            <hr class="underline">
            
            <h1>{{include.title}}</h1>
            <h2 class="mega subtext">{{include.text}}</h2>                             <img src="{{include.img}}" alt="img1">
    
            
                    <div class="grid">
                    
                        <div class="unit unit-xs-1 unti-s-1 unit-m-1-2 unit-l-1-2">
                            <h2>The challenge</h2>
                            <p>{{include.challenge}}</p>
                        </div>
                       
                        <div class="unit unit-xs-1 unti-s-1 unit-m-1-2 unit-l-1-2">
                            <h2>The solution</h2>
                            <p>{{include.solution}}</p>
                        </div>
                    </div>
         </div> 

    
    
    <ul class="grid galnav">
         <a href="{{include.back}}" class=" info unit unit-xs-1-2 unit-s-1-2 unit-m-1-2 unit-l-1-2">
        <li class="previous">
             <i class="icon-left"></i>
        </li>
            </a>
        
        <a href="{{include.after}}" class="info unit unit-xs-1-2 unit-s-1-2 unit-m-1-2 unit-l-1-2">
        <li class="next">
            <i class="icon-right"></i>
        </li>
        </a>
    </ul>
    
    <hr>
        <a class="closelightbox" href="{{site.baseurl}}/#_">
        <p>Exit</p>
    </a>
</div>
