<svg class="mobile-thumbs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 329 560">
    
  <style>
      path {
          fill: white;
      }
  </style>
    
<defs>    
      <path id="RT" d="M164.5 0H329v125.5H164.5z"/>
    <clipPath id="RT-clip">
            <use xlink:href="#RT"/>
        </clipPath> 
    
    <path id="RM" d="M164.5 125.5H329v207.2H164.5z"/>
    <clipPath id="RM-clip">
            <use xlink:href="#RM"/>
        </clipPath> 
    
    
     <path id="RB" d="M164.5 332.7H329V560H164.5z"/>
    <clipPath id="RB-clip">
            <use xlink:href="#RB"/>
        </clipPath> 
    
    <path id="LT" d="M0 0h164.5v211H0z"/>
    <clipPath id="LT-clip">
            <use xlink:href="#LT"/>
        </clipPath> 
    
     <path id="LM" d="M0 211h164.5v174H0z"/>
     <clipPath id="LM-clip">
            <use xlink:href="#LM"/>
        </clipPath> 
    
     <path id="LB" d="M0 385h164.5v175H0z"/>
     <clipPath id="LB-clip">
            <use xlink:href="#LB"/>
        </clipPath> 
    </defs>
    
  <g id="right">
  
      <a clip-path="url(#RT-clip)" xlink:href="{{site.baseurl}}/#img1"> 
        <image class="gal" x="164.5" y="0" width="164.5px" height="125.523px" xlink:href="{{site.baseurl}}/image/mobile-thumb-2.jpg"/>
    </a> 
      
       <a clip-path="url(#RM-clip)" xlink:href="{{site.baseurl}}/#img2"> 
        <image class="gal" x="164.5" y="125" width="164.5px" height="208px" xlink:href="{{site.baseurl}}/image/mobile-thumb-4.jpg"/>
    </a> 
    
      <a clip-path="url(#RB-clip)" xlink:href="{{site.baseurl}}/#img5"> 
        <image class="gal" x="164" y="330" width="167px" height="230px" xlink:href="{{site.baseurl}}/image/mobile-thumb-6.jpg"/>
   </a>
  </g>    

  <g id="left">
    <a clip-path="url(#LT-clip)" xlink:href="{{site.baseurl}}/#img3"> 
        <image class="gal" x="0" y="0" width="164.5px" height="211px" xlink:href="{{site.baseurl}}/image/mobile-thumb-1.jpg"/>
        </a>
        
   <a clip-path="url(#LM-clip)" xlink:href="{{site.baseurl}}/#img6"> 
        <image class="gal" x="0" y="211" width="164.5px" height="174px" xlink:href="{{site.baseurl}}/image/mobile-thumb-3.jpg"/>
       </a>
   
       <a clip-path="url(#LB-clip)" xlink:href="{{site.baseurl}}/#img4"> 
        <image class="gal" x="0" y="385" width="164.5px" height="175px" xlink:href="{{site.baseurl}}/image/mobile-thumb-5.jpg"/>
           </a>
   
  </g>
</svg>