<div class="mobile-gal">
<a href="{{site.baseurl}}/#img3"> 
<img src="image/mobile-thumb-1.jpg" alt="mobile">
</a>
    
     <a href="{{site.baseurl}}/#img1"> 
<img src="image/mobile-thumb-2.jpg" alt="mobile">
</a>
    
     <a href="{{site.baseurl}}/#img5"> 
<img src="image/mobile-thumb-6.jpg" alt="mobile">
</a>
    
    <a href="{{site.baseurl}}/#img2"> 
<img src="image/mobile-thumb-4.jpg" alt="mobile">
</a>
    
    <a href="{{site.baseurl}}/#img4"> 
<img src="image/mobile-thumb-5.jpg" alt="mobile">
</a>
    
    <a href="{{site.baseurl}}/#img6"> 
<img src="image/mobile-thumb-3.jpg" alt="mobile">
</a> 
</div>