<div class="mobile-gal">
    <figure class="work-fig">
<a href="{{site.baseurl}}/#img3"> 
<img src="image/cure-your-ignorance-gal.jpg" alt="mobile">
    <figcaption class="work-info">
        <h2 class="yotta">Cure Your Igonrance</h2>
            <p class="giga">Strive for equality</p>
        </figcaption>
</a>
    </figure>
    
<figure class="work-fig">
     <a href="{{site.baseurl}}/#img1"> 
<img src="image/camellia-teas-gal.jpg" alt="mobile">
         <figcaption class="work-info">
        <h2 class="yotta">Camellia Teas</h2>
            <p class="giga">Get the whole tea experience</p>
        </figcaption>
</a>
    </figure>
<figure class="work-fig">
     <a href="{{site.baseurl}}/#img5"> 
<img src="image/carbon-copy-gal.jpg" alt="mobile">
         <figcaption class="work-info">
        <h2 class="yotta">Carbon Copy</h2>
            <p class="giga">Your new favourtie thriller</p>
        </figcaption>
</a>
    </figure>
    <figure class="work-fig">
    <a href="{{site.baseurl}}/#img2"> 
<img src="image/parkm-gal.jpg" alt="mobile">
        <figcaption class="work-info">
        <h2 class="yotta">ParkM</h2>
            <p class="giga">Making parking less stressful</p>
        </figcaption>
</a>
        </figure>
    <figure class="work-fig">
    
    <a href="{{site.baseurl}}/#img4"> 
<img src="image/stopit-gal.jpg" alt="mobile">
        <figcaption class="work-info">
        <h2 class="yotta">Stop It!</h2>
            <p class="giga">Let's stop gender-based violence</p></p>
        </figcaption>
</a>
    </figure>
    
<figure class="work-fig">
    <a href="{{site.baseurl}}/#img6"> 
<img src="image/photography-gal.jpg" alt="mobile">
          <figcaption class="work-info">
        <h2 class="yotta">Photography</h2>
            <p class="giga">A collection of photos</p>
        </figcaption>
</a> 
    </figure>
</div>