<section>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 960 560">
  
<defs>
 
    <path id="topl" d="M.2.2H320v208.6H.2z"/>
        <clipPath id="topl-clip">
            <use xlink:href="#topl"/>
        </clipPath>  
    
     <path id="topm" fill="#FFF"  d="M320 .2h320V357H320z"/>  
         <clipPath id="topm-clip">
            <use xlink:href="#topm"/>
         </clipPath>

     <path id="topr" d="M640 .2h319.7V280H640z"/>
         <clipPath id="topr-clip">
            <use xlink:href="#topr"/>
         </clipPath>

     <path id="botl" fill="#FFF" d="M.2 208.8H320V560H.2z"/>
         <clipPath id="botl-clip">
            <use xlink:href="#botl"/>
         </clipPath>

    <path id="botm" d="M320 357h320v203H320z"/>
        <clipPath id="botm-clip">
            <use xlink:href="#botm"/>
         </clipPath>
    
    <path id="botr" fill="#FFF" d="M640 280h319.7v279.8H640z"/>
        <clipPath id="botr-clip">
            <use xlink:href="#botr"/>
        </clipPath>

</defs>    
    
    
<g id="top">
    <a clip-path="url(#topl-clip)" xlink:href="#img1"> 
        <image class="gal" x="0" y="0" width="320px" height="208px" xlink:href="{{site.baseurl}}/image/Untitled-1-07.jpg"/>    
    </a> 
    
    <a clip-path="url(#topm-clip)" xlink:href="#img3">
        <image class="gal" x="320" y="0" width="320px" height="356px" xlink:href="{{site.baseurl}}/image/Untitled-1-04.jpg"/>
    </a>  
      
    <a clip-path="url(#topr-clip)" xlink:href="#img5">
        <image class="gal" x="640" y="0" width="320px" height="280px" xlink:href="{{site.baseurl}}/image/Untitled-1-01.jpg"/>
    </a> 
</g>
    
<g id="bottom">
      
    <a clip-path="url(#botl-clip)" xlink:href="#img2">
        <image class="gal" x="0" y="210" width="320px" height="350px" xlink:href="{{site.baseurl}}/image/Untitled-1-02.jpg"/>
    </a> 
      
    <a clip-path="url(#botm-clip)" xlink:href="#img4">
         <image class="gal" x="320" y="355" width="320px" height="203px" xlink:href="{{site.baseurl}}/image/Untitled-1-05.jpg"/>
    </a>  
      
    <a clip-path="url(#botr-clip)" xlink:href="#img6">
        <image class="gal" x="640" y="280" width="320px" height="280px" xlink:href="{{site.baseurl}}/image/Untitled-1-06.jpg"/>
    </a>   
</g>
    
</svg>    
</section>