<div class="lightbox" id="{{include.id}}">
    
     <div class="lightbox-container">
            
  <div class="photo-lightbox"> 
      </div>
      

     <div class="work-details">

                    	

                        <div class="row">

                        	<div class="col-xs-12 col-sm-12 col-md-4">

                            	<header role="work-title">

                                	<h2>{{include.title}}</h2>
                                    <p class="artform kilo">{{include.artform}}</p>

                                </header>

                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-8">

                            	<section>

                                	<p>These are all my photography concepts</p>

                                    <p>i take picture and edit them </p>

                                    

                                    <p><strong>Role</strong><br/>

									Branding, Identity, Web Design, UX / UI</p>

                                </section>

                            

                            </div>

                        </div>

                        <div class="clearfix"></div>

                        

                        <div class="work-images grid">

                            <ul class="grid-lod effect-2" id="grid">

                                <li><img src="image/koi.jpg" alt="" class="img-responsive"/></li>

                                <li><img src="image/typepics-01.jpg" alt="" class="img-responsive"/></li>

                                <li><img src="image/typepics-02.jpg" alt="" class="img-responsive"/></li>

                            </ul>

                        </div>

                        

                    </div>

                <!-- work details -->

            
<!--
<ul class="grid galnav">
         <a href="{{include.back}}" class=" info unit unit-xs-1-2 unit-s-1-2 unit-m-1-2 unit-l-1-2">
        <li class="previous">
             <i class="icon-left"></i>
        </li>
            </a>
    
        <a href="{{include.after}}" class="info unit unit-xs-1-2 unit-s-1-2 unit-m-1-2 unit-l-1-2">
        <li class="next">
            <i class="icon-right"></i>
        </li>
        </a>
    </ul>
    
    <hr>
        <a class="closelightbox" href="{{site.baseurl}}/#_">
        <p>Back to Portfolio</p>
    </a>
    
    -->
    </div>
         </div>
        
