@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
 
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

/** skiplinks */
.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: #fff;
    color: black;
    text-decoration: none;
    padding: 0.35em 0.5em;
    font-size: 1.25em;
}

.skip-links a:focus {
    top: 0;
}

/**navigation*/
.nav {
    background-color: rgba(255,255,255,1);
    padding: 1em .3em 0;
    width: 100%;
    position: fixed;
    z-index: 3;
}

.nav li,
.nav a {
    display: block;
    text-decoration: none;
    list-style: none;
    margin: 0 1em 0em .5em;
    color: black;
    text-align: right;
    transition: color 500ms ease-in;
    padding-bottom: .2em;
}

.nav ul {
    margin: 0 0 .5em;
}
.nav a:hover,
.nav a:focus,
.nav a:active {
    color: #f6a56f;
}

.logo {
    width: 25%;
    margin:0 37.5% 1em;
}

.logo:hover {
    animation: shake 1s;
    -webkit-animation: shake 1s;
}

@-webkit-keyframes shake {
  
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.billboard {
    background-image: url(../image/1-TOC.jpg);
    background-position: center top;
    background-color: pink;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 25em;
    margin-bottom: 0;
    overflow: hidden;
}

.footer-info {
    color: white;
    overflow: hidden;
    margin-top: 1em;
}

/** LIGHTBOX MARKUP **/

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
    text-decoration: none;
    position: fixed;
	width: 100%;
	height: 100%;
	text-align: left;
	top: 0;
	left: 0;
	background:/* rgba(0,0,0,0.9);*/white;
    overflow-y: auto;
    z-index: 2;
    animation: boxin 300ms ease-in;
    -webkit-animation: boxin 300ms ease-in;
}

@keyframes boxin {
    
   from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes boxin {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.lightbox img {
	/** Pad the lightbox image */
	max-width: 100%;
	max-height: 100%;
	margin-top: 0%;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}

.info {
    float: right;
    text-decoration: none;
    color: black;
    margin-top: 5%;
    padding: .5em;
}

.closelightbox img {
    overflow: hidden;
    padding: .5em;
    width: 10%;
    margin: 0 45%;
}
.closelightbox a{
    text-decoration: none;
}

.closelightbox {
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 2em;
}

.closelightbox:hover,
.closelightbox:active,
.closelightbox:focus{
    background-color: black;
    color: white;
}

.lightbox-container {
    margin: 6em 5em 0;
}

.gal {
    overflow: hidden;
    opacity: .7;
    transition: all 300ms ease-in-out;
}

.gal:hover,
.gal:focus,
.gal:active{
     opacity: 1;
}

/**footer*/

.copyright {
    text-align: center;
    margin: 0;
}

footer {
    background-color: #444444;
    padding: 1.5em;
}

.thumbs {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.mobile-thumbs {
    display: block;
}

.error {
    overflow: hidden;
    padding-top: 5em;
    background-color: black;
    height: 20em;
}

.error h2 {
    text-align: center;
    color: white;
}

.error a {
    color: white;
}

.galnav a,
.galnav li{
    text-decoration: none;
    color: white;
    list-style: none;
    padding: 0;
    overflow: hidden;
}

.galnav p{
    padding: 0 0.5em;
    font-size: 1.2em;
}

.next p {
    text-align: right;
}

.next {
    background-color: rgba(0,0,0,0.5);
    width: 4em;
    position: fixed;
    right: 0;
    top: 15em;
}

.previous {
    background-color: rgba(0,0,0,0.5);
    width: 4em;
    position: fixed;
    top: 15em;
}

.previous:hover,
.next:hover{
background-color: rgba(0,0,0,1);
}

hr {
    border-top: 1px dotted #8c8b8b;
	border-bottom: 1px dotted #fff;
    margin: 5px;
}

.icons a {
    text-decoration: none;
    color: white;
    font-size: 2em; 
}

.icons a:hover {
    border-bottom: 2px solid #e41a50;
    color: #e41a50;
}
.icons {
    display: inline-block;
}


h3 {
    font-style: bold;
    margin: 0 0 .5em;
}

@media only screen and (min-width:38em) {

    .nav ul li {
        display: inline-block;
        float: right;
    }
    
    .thumbs {
    display: block;
    }

    .mobile-thumbs {
    display: none;
    }
    
    .logo {
        width: 10%;
        margin:0 45% 1em;
    }
    
    .mywork {
    overflow: hidden;
    position: relative;
    padding-top: 58.33%;
    }

@supports (min-height:100vh) {

    .billboard {
        min-height: 80vh;
    }
}