@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
 
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

/** skiplinks */
.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: #fff;
    color: black;
    text-decoration: none;
    padding: 0.35em 0.5em;
    font-size: 1.25em;
}

.skip-links a:focus {
    top: 0;
}

/**navigation*/
.nav {
    background-color: rgba(255,255,255,1);
    padding: 1em .3em 0;
    width: 100%;
    height: 4em;
    position: fixed;
    z-index: 3;
    box-shadow: 3px 13px 37px -25px #8c888c;
}

.nav li,
.nav a {
    display: block;
    text-decoration: none;
    list-style: none;
    margin: 0 1em 0em .5em;
    color: black;
    text-align: right;
    transition: color 500ms ease-in;
    padding-bottom: .2em;
}

.nav ul {
    margin: 0 0 .5em;
}
.nav a:hover,
.nav a:focus,
.nav a:active {
    color: #f6a56f;
}

p {
    font-weight: 400;
}

.logo {
    width: 3.5em;
    margin:0 43% 1em;
}

.logo:hover {
    animation: shake 1s;
    -webkit-animation: shake 1s;
}

@-webkit-keyframes shake {
  
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.billboard {
    background-image: url(../image/1-TOC.jpg);
    background-position: center top;
    background-color: pink;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 25em;
    margin-bottom: 0;
    overflow: hidden;
}

.footer-info {
    color: white;
    overflow: hidden;
    margin-top: 1em;
    position: relative;
}

/** LIGHTBOX MARKUP **/

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
    text-decoration: none;
    position: fixed;
	width: 100%;
	height: 100%;
	text-align: left;
	top: 0;
	left: 0;
	background:/* rgba(0,0,0,0.9);*/white;
    overflow-y: auto;
    z-index: 2;
    animation: boxin 300ms ease-in;
    -webkit-animation: boxin 300ms ease-in;
}

@keyframes boxin {
    
   from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes boxin {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.lightbox img {
	/** Pad the lightbox image */
	max-width: 100%;
	max-height: 100%;
	margin-top: 0%;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}

.info {
    float: right;
    text-decoration: none;
    color: black;
    margin-top: 5%;
    padding: .5em;
}


.closelightbox {
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 2em;
    text-decoration: none;
    text-align: center;
    color: black;
}

.closelightbox:hover,
.closelightbox:active,
.closelightbox:focus{
    background-color: black;
    color: #8c888c;
}

.lightbox-container {
    margin:6.5em 1em 0;
}

.mobile-gal {
    display: block;
    padding-top: 4em;
}

.gal {
    overflow: hidden;
    display: none;
    opacity: 1;
    transition: all .5s linear;
    padding-top: 4em;
}

.gal:hover,
.gal:focus,
.gal:active{
     opacity: 1;
}

.work-fig {
	position: relative;
	overflow: hidden;
    margin: 0;
}

.work-fig .work-info {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
	padding-top: 50%;
	padding-bottom: 50%;
	right: 0;
	left: 0;
	text-align: center;
	text-decoration: none;
	color: white;
}

.details {
    border-bottom: 1px solid #8c8b8b;
}

.casestudy p, 
ul li{
    margin-right: 1em; 
    font-size: .85em;
}

.list{
    margin-bottom: 0;
}

/**footer*/

.copyright {
    text-align: center;
    margin: 0;
    color: white;
}

footer {
    background-color: #444444;
    padding: 1.5em;
}

.error {
    overflow: hidden;
    padding-top: 5em;
    background-color: black;
    height: 20em;
}

.error h2 {
    text-align: center;
    color: white;
}

.error a {
    color: white;
}

.galnav a,
.galnav li{
    text-decoration: none;
    color: white;
    list-style: none;
    padding: 0;
    overflow: hidden;
}

.galnav p{
    padding: 0 0.5em;
    font-size: 1.2em;
}

.next p {
    text-align: right;
}

.next {
    width: 2em;
    position: fixed;
    right: 10px;
    top: 15em;
    display: none;
}

.previous {
    width: 2em;
    position: fixed;
    top: 15em;
    left:10px;
    display: none;
}

.previous:hover,
.next:hover{
border-bottom: 2px solid rgba(0,0,0,0.5);
}

.icon-left,
.icon-right {
    font-size: 2em;
    vertical-align: center;
    margin-top: 20px;
    position: relative;
    color: rgba(0,0,0,0.5);
}

hr {
    border-top: 1px dotted #8c8b8b;
	border-bottom: 1px dotted #fff;
    margin: 5px;
}

.icons a {
    text-decoration: none;
    color: white;
    font-size: 2em; 
}

.icons a:hover {
    border-bottom: 2px solid #e41a50;
    color: #e41a50;
}

.icons {
    display: inline-block;
}

h3 {
    font-style: bold;
    margin: 0 0 .5em;
}

.subtext {
    color: #8c888c;
    font-weight: 400;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
}

p.artform {
    color: #8c888c;
    text-align: right;
    margin-bottom: 0;
    padding-top: 1em;
}

h2 {
    margin-bottom: 0;
}

.underline {
    border-top: 1px solid #8c888c;
}

.email {
    text-decoration: none;
    color:white;
}

.email:hover, 
.email:focus, 
.email:active {
    color:  #e41a50;
}

/*video*/
.embed {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.embed-item {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
}

.embed-16by9 {
    padding-top: 56.25%;
}

.more-link{
    text-decoration: underline;
    text-align: center;
    color: black;
    margin: 0;
}

.temp {
    background-color: darkgray;
}

@media only screen and (min-width:38em) {

    .nav ul li {
        display: inline-block;
        float: right;
    }
    
    .logo {
        width: 3.5em;
        margin:0 47% 1em;
    }
    
    .mywork {
    overflow: hidden;
    position: relative;
    padding-top: 58.33%;
    }
    
    .next,
    .previous {
    display: block;
    }
    
    .lightbox-container {
    margin: 6em 5em 0;
    }
    
    .photo-lightbox {
         margin: 0 8em 0;
    }
    
    .work-fig .work-info {
		opacity: 0;
		-webkit-transition: all 350ms ease-in-out;
		transition: all 350ms ease-in-out;
	}

	.work-fig:hover .work-info,
	.work-fig:active .work-info,
	.work-fig:focus .work-info {
		opacity: 1;
    }
    
    .gal {
        display: block;
    }

    .mobile-gal {
        display: none;
    }
}

@supports (min-height:100vh) {

    .billboard {
        min-height: 80vh;
    }
}