<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Rajaa Al-subairi-Portfolio</title>
  <link href='https://fonts.googleapis.com/css?family=Syncopate' rel='stylesheet' type='text/css'>
  <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="Rajaa Alsubair's design portfolio and contact information">
<!--social meta-->
  <meta property="og:type" content="article">
  <meta property="og:title" content="Rajaa Alsubairi-Portfolio">
  <meta property="og:url" content="http://Rajaabairi.ca">
  <!-- Image dimensions: minimum 200x200; recommended 1500x1500 -->
  <meta property="og:image" content="#">
  <!-- `og:site_name` is optional but highly recommended -->
  <meta property="og:site_name" content="Rajaa Alsubairi">
  <!-- `og:description` is also optional, but could easily be filled with the meta description -->
  <meta property="og:description" content="Rajaa Alsubair's design portfolio and contact information">
    
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Rajaa Alsubairi-Portfolio">
  <meta name="twitter:url" content="http://rajaabairi.ca">
  <meta name="twitter:description" content="Rajaa Alsubair's design portfolio and contact information">
  <!-- The image should be 120x120 pixels in dimension -->
  <meta name="twitter:image" content="#">
</head>
<body>
    
<!--contact-->
    
    {{content}}
    
    <footer id="contact">
            <h2 class="headlines">Talk to me</h>  
        
            <div class="icons">
       
                <a href="#"><img src="image/insta.svg" alt="instagram"></a>
        
                <a href="#"><img src="image/behance.svg" alt="behance"></a>
        
                <a href="#"><img src="image/twitter.svg" alt="twitter"></a>
            </div>
            
            <p class="micro copyright">2015 Rajaa Al-subairi.</p>
        
    </footer>
    
</body>
</html>