<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Rajaa Al-subairi</title>
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Syncopate' rel='stylesheet' type='text/css'>
  <link href="{{site.baseurl}}css/main.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
    
<!--contact-->
    
    {{content}}
    
    <footer id="contact">
            <h2 class="headlines">Talk to me</h>  
        
            <div class="icons">
       
                <a href="#"><img src="image/insta.svg" alt="instagram"></a>
        
                <a href="#"><img src="image/behance.svg" alt="behance"></a>
        
                <a href="#"><img src="image/twitter.svg" alt="twitter"></a>
            </div>
            
            <p class="micro copyright">2015 Rajaa Al-subairi.</p>
        
    </footer>
    
</body>
</html>